.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.qodo
build
build/
build-pc
build-pc/
build-android
build-android/
android-dependencies/arm64-v8a
android-dependencies/arm64-v8a/
